## Feature Engineering: Feature Creation

In [1]:
import pandas as pd

data = pd.read_csv("SMSSpamCollection.tsv", sep='\t')
data.columns = ['label', 'body_text']

### Create feature for text message length

In [2]:
data['body_len'] = data['body_text'].apply(lambda x: len(x) - x.count(" "))

data.head()

  label                                          body_text  body_len
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...       128
1   ham  Nah I don't think he goes to usf, he lives aro...        49
2   ham  Even my brother is not like to speak with me. ...        62
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!        28
4   ham  As per your request 'Melle Melle (Oru Minnamin...       135